#c-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'summary summary'
                       'div1 div2'
                       'div3 div4';
  gap: 30px;
  margin-bottom: 30px;

  .grid-artboard {
    width: 100%;
    padding: 30px;
    overflow: auto;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 7px 0px;
  }
  .div1 {
    grid-area: div1;
    // height: 600px;
  }
  .div2 {
    grid-area: div2;
  }
  .div3 {
    grid-area: div3;
  }
  .div4 {
    grid-area: div4;
  }
  .summary {
    padding: 21px 30px;
    grid-area: summary;
    text-align: center;
    .info-group {
      display: flex; justify-content: space-between;
      .info {
        width: 300px;
        border: 3px solid rgba(0, 180, 255, 0.5);
        border-radius: 15px;
        padding: 9px 15px;
        >.title {
          color:rgba(0, 0, 0, 0.5);
          font-size: 15px; font-weight: 500;
        }
        >.value {
          font-size: 30px; font-weight: 800;
        }
      }
      .date {
        border: 0;
      }
    }
  }
  
  #monthly-share {
    .top {
      display: flex; justify-content: space-between; align-items: center;
      height: 33px;
      margin-bottom: 15px;
      .title {
        font-size: 18px; font-weight: 600;
      }
      .month-group {
        display: flex; align-items: center;
        .month {
          font-size: 18px; font-weight: 600;
        }
        button {
          margin-left: 12px;
        }
      }
    }
    .container {
      height: 270px;
      .chart {
        width: 100%; height: 100%;
      }
    }
  }



}