

#c-statistic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'div1 div1'
                       'div2 div3'
                       'div4 div4';
  gap: 30px;
  margin-bottom: 30px;

  .grid-artboard {
    width: 100%;
    padding: 30px;
    overflow: auto;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 7px 0px;
    .top{
      display: flex; justify-content: space-between; align-items: center;
      .title {
        font-size: 18px; font-weight: 600;
      }
      .filter-group {
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        display: flex;
        .filter1 { // select 필터
          margin-left: 12px;
          cursor: pointer;
          border: 1px solid #bbbbbb;
          width: 180px; height: 33px;
          font-size: 15px; line-height: 33px; font-weight: 400; text-align: center;
          &:focus {
            outline: 0px;
          }
        }
      }
    }
    .chart {
      min-height: 270px; height: 85%; width: 100%;
    }
  }

  .div1 {
    grid-area: div1;
  }
  .div2 {
    grid-area: div2;
  }
  .div3 {
    grid-area: div3;
  }
  .div4 {
    grid-area: div4;
  }

  #summary {
    padding: 21px 45px;
    text-align: center;
    display: flex; justify-content: space-between;
    .col {
      user-select: none;
      display: flex; align-items: center; justify-content: center;
      height: 105px; width: 360px;
      border: 3px solid rgba(0, 180, 255, 0.5);
      border-radius: 15px;
      .info-group {
        .title {
          color:rgba(0, 0, 0, 0.5);
          font-size: 15px; font-weight: 500;
        }
        .value {
          font-size: 30px; font-weight: 800;
          .sub {
            font-size: 15px; font-weight: 500;
          }
        }
      }
    }
    #calendar {
      border: 0;
      .info-group {
        display: flex; align-items: center; gap: 30px;
        .btn-group {
          display: flex; gap: 12px;
        }
      }
    }
  }
  
}

.calendar-control {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  .col {
    display: flex;
    .year-month {
      font-size: 30px;
      font-weight: 600;
    }
    .btn-group {
      display: flex;
      align-items: center;
      button {
        margin-left: 15px;
      }
    }
  }
}