.calendar-control {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
  .col {
    display: flex;
    .year-month {
      font-size: 30px;
      font-weight: 600;
    }
    .btn-group {
      display: flex;
      align-items: center;
      button {
        margin-left: 15px;
      }
    }
  }
}
.xxx {
  border: 1px solid red;
}
.div1, .div2, .div3 {
  border: 1px solid blue;
}
.row1 {
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  
}
.row2 {
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px; 
}