@font-face {
  font-family: Apple SD Gothic Neo;
  src: url(/font/AppleSDGothicNeoUL.eot); /* IE 6 ~ 8, IE 호환성 보기 */
  src: local(☺), url(/font/AppleSDGothicNeoUL.woff2) format("woff2"),
    /* IE Edge, WOFF2 지원 브라우저 */ url(/font/AppleSDGothicNeoUL.woff)
      format("woff"),
    /* IE 9+, 모던 브라우저 */ url(/font/AppleSDGothicNeoUL.ttf)
      format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Apple SD Gothic Neo;
  src: url(/font/AppleSDGothicNeoR.eot); /* IE 6 ~ 8, IE 호환성 보기 */
  src: local(☺), url(/font/AppleSDGothicNeoR.woff2) format("woff2"),
    /* IE Edge, WOFF2 지원 브라우저 */ url(/font/AppleSDGothicNeoR.woff)
      format("woff"),
    /* IE 9+, 모던 브라우저 */ url(/font/AppleSDGothicNeoR.ttf)
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Apple SD Gothic Neo;
  src: url(/font/AppleSDGothicNeoM.eot); /* IE 6 ~ 8, IE 호환성 보기 */
  src: local(☺), url(/font/AppleSDGothicNeoM.woff2) format("woff2"),
    /* IE Edge, WOFF2 지원 브라우저 */ url(/font/AppleSDGothicNeoM.woff)
      format("woff"),
    /* IE 9+, 모던 브라우저 */ url(/font/AppleSDGothicNeoM.ttf)
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Apple SD Gothic Neo;
  src: url(/font/AppleSDGothicNeoSB.eot); /* IE 6 ~ 8, IE 호환성 보기 */
  src: local(☺), url(/font/AppleSDGothicNeoSB.woff2) format("woff2"),
    /* IE Edge, WOFF2 지원 브라우저 */ url(/font/AppleSDGothicNeoSB.woff)
      format("woff"),
    /* IE 9+, 모던 브라우저 */ url(/font/AppleSDGothicNeoSB.ttf)
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Apple SD Gothic Neo;
  src: url(/font/AppleSDGothicNeoB.eot); /* IE 6 ~ 8, IE 호환성 보기 */
  src: local(☺), url(/font/AppleSDGothicNeoB.woff2) format("woff2"),
    /* IE Edge, WOFF2 지원 브라우저 */ url(/font/AppleSDGothicNeoB.woff)
      format("woff"),
    /* IE 9+, 모던 브라우저 */ url(/font/AppleSDGothicNeoB.ttf)
      format("truetype");
  font-weight: 700;
  font-style: normal;
}