$color-wa: rgba(255, 255, 255, 1);

$color-ka: rgba(0, 0, 0, 1);
$color-k7: rgba(0, 0, 0, 0.7); // Hover
$color-k5: rgba(0, 0, 0, 0.5); // X버튼 (조정 필요)
$color-k2: rgba(0, 0, 0, 0.2); // Upload

$color-ca: rgba(0, 180, 255, 1);
$color-c2: rgba(0, 180, 255, 0.2); // 모두 보기

$color-ma: rgba(244, 81, 108, 1);

$color-ga: rgba(171, 171, 171, 1);
$color-g1: rgba(171, 171, 171, 0.1); // 파일 리스트

button {
  padding: 0px;
  cursor: pointer;
  outline: none;
  border: 0;
  background-color: transparent;
  font-family: Apple SD Gothic Neo;
}

.btn-all { // 전제 보기
  height: 30rem; min-width: fit-content;
  padding: 0 6rem;
  border: 1px solid $color-ca;
  border-radius: 6rem;
  font-size: 14rem; font-weight: 400;
  background-color: $color-c2;
  color: $color-ka;
  &:hover {
    outline: 2px solid $color-k7;
    outline-offset: -2px;
  }
  &:focus {
    outline: 2px solid $color-ka;
    outline-offset: -2px;
  }
}

// 컨펌 버튼
.btn5-1 {
  display: flex; align-items: center; justify-content: center;
  width: 100%;
  border: 2px solid $color-ca;
  border-radius: 30rem;
  height: 42rem;
  font-size: 18rem; font-weight: 600; text-decoration: none;
  background-color: $color-ca;
  color: $color-wa;
}

.btn5-2 {
  display: flex; align-items: center; justify-content: center;
  width: 100%;
  border: 2px solid $color-ma;
  border-radius: 30rem;
  height: 42rem;
  font-size: 18rem; font-weight: 600; text-decoration: none;
  background-color: $color-ma;
  color: $color-wa;
}

.btn5-3 {
  display: flex; align-items: center; justify-content: center;
  width: 100%;
  border: 2px solid $color-ga;
  border-radius: 30rem;
  height: 42rem;
  font-size: 18rem; font-weight: 600; text-decoration: none;
  background-color: $color-ga;
  color: $color-wa;
}

.btn5-1:hover,
.btn5-2:hover,
.btn5-3:hover {
  outline: 2px solid $color-k7;
  outline-offset: -2px;
}
.btn5-1:focus,
.btn5-2:focus,
.btn5-3:focus {
  outline: 2px solid $color-ka;
  outline-offset: -2px;
}

// 게시판 내(답글) 수정 삭제 버튼
.btn6-1 {
  display: flex; align-items: center; justify-content: center;
  height: 36rem; width: 100%;
  border: 2px solid $color-ca;
  border-radius: 6rem;
  font-size: 15rem; font-weight: 500;
  background-color: $color-ca;
  color: $color-wa;
  text-decoration: none;
}

.btn6-2 {
  display: flex; align-items: center; justify-content: center;
  height: 36rem; width: 100%;
  border: 2px solid $color-ma;
  border-radius: 6rem;
  font-size: 15rem; font-weight: 500;
  background-color: $color-ma;
  color: $color-wa;
  text-decoration: none;
}

.btn6-3 {
  display: flex; align-items: center; justify-content: center;
  height: 36rem; width: 100%;
  border: 2px solid $color-ga;;
  border-radius: 6rem;
  font-size: 15rem; font-weight: 500;
  background-color: $color-ga;;
  color: $color-wa;
  text-decoration: none;
}

.btn6-1:hover,
.btn6-2:hover {
  outline: 2px solid $color-k7;
  outline-offset: -2px;
}

.btn6-1:focus,
.btn6-2:focus {
  outline: 2px solid $color-ka;
  outline-offset: -2px;
}

.btn-more { // 더보기
  width: 100%;
  color: $color-ka;
  font-size: 12rem; font-weight: 400;
  .row1 {
    display: flex; align-items: center; justify-content: center; gap: 6rem;
    img {
      height: 12rem; width: 12rem;
    }
  }
  .row2 {
    .highlight {
      color: $color-ca;
    }
  }
}

/* 버튼 배치 시작 */
.btn-group2 {
  display: grid; grid-template-columns: 1fr 1fr; gap: 15rem;
}
/* 버튼 배치 끝 */