$color-wa: rgba(255, 255, 255, 1);

$color-ka: rgba(0, 0, 0, 1);
$color-k7: rgba(0, 0, 0, 0.7);
$color-k3: rgba(0, 0, 0, 0.3);
$color-k2: rgba(0, 0, 0, 0.2);

$color-ca: rgba(0, 180, 255, 1);

/* 드롭다운 필터 */
.filter-group { // 필터
  user-select: none;
  .filter1 { // Select 필터
    display: flex; align-items: center; justify-content: center;
    &:focus {
      outline: 0;
    }
  }
  .filter2 { // 자체 제작 필터
    cursor: pointer;
    position: relative;
    display: flex; align-items: center; justify-content: center;
    border: 1px solid $color-k2;
    height: 33px; width: 100%;
    padding: 0 9rem;
    &:hover {
      outline: 1px solid $color-k7;
      outline-offset: -1px;
    }
    .title {
      font-size: 14rem; font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .options {
      box-shadow: $color-k2 1px 1px 3px;
      border: 1px solid $color-k2;
      background-color: $color-wa;
      position: absolute; top: 33px; left: 0;
      width: 100%;
      padding: 3rem;
      max-height: 450px;
      overflow-y: auto;
      z-index: 1; // 간혹 게시판 목록들과 겹치는 경우가 있다.
      label {
        display: flex; align-items: center;
        padding: 6rem 3rem;
        font-size: 13rem;
        &:hover {
          background-color: #eeeeee;
        }
        input[type=checkbox] {
          margin-right: 6rem;
          height: 15rem; width: 15rem;
          min-height: 15rem; min-width: 15rem;
        }
        input[type=radio] {
          display: none;
        }
      }
      .radio-select {
        padding-left: 9px;
      }
    }
  }
  .disabled { // 선택 불가
    .title {
      border: 1px solid #dddddd;
      color: #cccccc;
    }
  }
}

/* 업로드 */
.upload-group {
  .uploaded {
    li {
    }
  }
  .uploading {
    li {
      display: flex; align-items: center; justify-content: space-between;
      padding: 5px 12px;
      border: 1px solid $color-k2;
      border-radius: 6px;
      font-size: 13rem; font-weight: 400;
      .name-cover {
        width: 90%;
        .filename {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; 
        }
      }
      button {
        font-size: 18px; 
      }
    }
  }
  .upload {
    display: grid; grid-template-columns: 1fr 90px; gap: 12px;
    input[type=file] {
      cursor: pointer;
      padding-left: 9rem;
      border-color: $color-ca;
      border-radius: 6rem;
      font-size: 13rem; font-weight: 500;
      color:$color-ca;
      &:hover {
        outline: 1px solid $color-k7;
        outline-offset: -1px;
      }
      &:focus {
        outline: 2px solid $color-k7;
        outline-offset: -2px;
      }
      &::file-selector-button {
        // display: none;
      }
    }
  }
}

#s-question-list { // 문의 사항
  .top {
    .row2 {
      .filter-group {
        display: grid; grid-template-columns: 1fr 1fr; gap: 9rem;
        .filter2:last-child {
          grid-column: 1 / 3;
          grid-row: 2 / 3;
        }
      }
    }
  }
}

.bulletin-list1 { // 게시판 목록, 예약 목록
  .top {
    .row1 {
      display: flex;
      .item-group {
        display: flex; align-items: center;
        margin-right: 18px;
        select {
          font-size: 15px;
          height: 33px;
          padding: 0 15px;
        }
        input[type=date] {
          font-size: 15px;
          height: 33px;
          width: 180px;
          padding: 0 9px;
        }
        span {
          margin: 0 6px;
        }
      }
    }
    .row2 {
      display: flex;flex-direction: column; gap: 9rem;
    }
  }

  .table {
    margin-top: 18rem;
    border-top: 1px solid $color-k2;
    .row-group {
      .table-row {
        padding: 15rem;
        border-bottom: 1px solid $color-k2;
        .link {
          cursor: pointer;
          user-select: none;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 15rem; font-weight: 500;
          color: $color-ka;
          &:hover {
            color: $color-ca;
          }
        }
        .info {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: rgba(0, 0 , 0, 0.5);
          font-size: 12rem; font-weight: 400;
        }
      }

      .content-group {
        display: none;
        .content1, .content2 {
          padding: 15rem;
          border-bottom: 1px solid rgba(0, 0 , 0, 0.05);
          .frame {
            padding-left: 15rem;
            border-left: 3px solid rgba(0, 180, 255, 0.6);
          }
          .text {
            font-size: 15rem; font-weight: 500;
          }
          .image {
            margin-top: 18px;
            img {
              width: 100%;
            }
          }
          .record {
            font-size: 12rem;
            span {
              padding-right: 6px;
              font-weight: 600;
            }
          }
          
        }
      }
    }
    .row-group.selected {
      outline: 3px solid $color-ca;
      outline-offset: -3px;
      .link {
        color: $color-ca
      }
      .content-group {
        display: block;
      }
    }
  }

  >.bottom {
    margin-top: 15rem;
  }
}