@charset "UTF-8";
button {
  padding: 0px;
  cursor: pointer;
  outline: none;
  border: 0;
  background-color: transparent;
  font-family: Apple SD Gothic Neo;
}

.btn5-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid rgb(0, 180, 255);
  border-radius: 30rem;
  height: 42rem;
  font-size: 18rem;
  font-weight: 600;
  text-decoration: none;
  background-color: rgb(0, 180, 255);
  color: rgb(255, 255, 255);
}

.btn5-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid rgb(244, 81, 108);
  border-radius: 30rem;
  height: 42rem;
  font-size: 18rem;
  font-weight: 600;
  text-decoration: none;
  background-color: rgb(244, 81, 108);
  color: rgb(255, 255, 255);
}

.btn5-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 2px solid rgb(171, 171, 171);
  border-radius: 30rem;
  height: 42rem;
  font-size: 18rem;
  font-weight: 600;
  text-decoration: none;
  background-color: rgb(171, 171, 171);
  color: rgb(255, 255, 255);
}

.btn5-1:hover,
.btn5-2:hover,
.btn5-3:hover {
  outline: 2px solid rgba(0, 0, 0, 0.7);
  outline-offset: -2px;
}

.btn5-1:focus,
.btn5-2:focus,
.btn5-3:focus {
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
}

.btn6-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 100%;
  border: 2px solid rgb(0, 180, 255);
  border-radius: 6rem;
  font-size: 15rem;
  font-weight: 500;
  background-color: rgb(0, 180, 255);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.btn6-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 100%;
  border: 2px solid rgb(244, 81, 108);
  border-radius: 6rem;
  font-size: 15rem;
  font-weight: 500;
  background-color: rgb(244, 81, 108);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.btn6-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  width: 100%;
  border: 2px solid rgb(171, 171, 171);
  border-radius: 6rem;
  font-size: 15rem;
  font-weight: 500;
  background-color: rgb(171, 171, 171);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.btn6-1:hover,
.btn6-2:hover {
  outline: 2px solid rgba(0, 0, 0, 0.7);
  outline-offset: -2px;
}

.btn6-1:focus,
.btn6-2:focus {
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
}

.btn7-2 {
  font-size: 27px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
}
.btn7-2:hover {
  cursor: pointer;
  color: rgb(244, 81, 108);
}

/* FILE LIST BUTTON */
.btn8-3 {
  height: 30rem;
  width: 100%;
  padding: 0 9rem;
  border: 1px solid rgb(171, 171, 171);
  border-radius: 6rem;
  background-color: rgba(171, 171, 171, 0.1);
  font-size: 13rem;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btn8-3:hover {
  outline: 1px solid rgba(0, 0, 0, 0.7);
  outline-offset: -1px;
}

.btn8-3:focus {
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
}

.btn-more {
  width: 100%;
  padding: 6rem;
  border: 1px solid rgb(171, 171, 171);
  font-size: 14rem;
  font-weight: 500;
}
.btn-more span {
  color: rgb(171, 171, 171);
  font-size: 12rem;
  font-weight: 400;
}
.btn-more span.highlight {
  color: rgb(0, 180, 255);
}
.btn-more:focus {
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
}
.btn-more:hover {
  outline: 1px solid rgba(0, 0, 0, 0.7);
  outline-offset: -1px;
}

.btn-all {
  height: 30rem;
  padding: 0 6rem;
  border: 1px solid rgb(0, 180, 255);
  border-radius: 6rem;
  background-color: rgb(0, 180, 255);
  font-size: 14rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

/* 버튼 배치 시작 */
.btn-group2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15rem;
}

/* 버튼 배치 끝 *//*# sourceMappingURL=m_button.css.map */