$color-wa: rgba(255, 255, 255, 1);
$color-w9: rgba(255, 255, 255, 0.9); // Bottom popup

$color-ka: rgba(0, 0, 0, 1);
$color-k7: rgba(0, 0, 0, 0.7); // BG, sub-title, log, Hover
$color-k5: rgba(0, 0, 0, 0.5); // Sub-lable
$color-k3: rgba(0, 0, 0, 0.3); // Box-shadow
$color-k2: rgba(0, 0, 0, 0.2); // Partner-list
$color-k1: rgba(0, 0, 0, 0.1); // 조회 border

$color-ca: rgba(0, 180, 255, 1);
$color-c5: rgba(0, 180, 255, 0.5); // <hr>

$color-ma: rgba(244, 81, 108, 1);

$fs-modal-title: 16.5rem; // 모달 타이틀 폰트 사이즈
$fw-modal-title: 700; // 모달 타이틀 폰트 웨이트

$fs-modal-label: 13rem; // 모달 라벨 폰트 사이즈
$fw-modal-label: 500; // 모달 라벨 폰트 웨이트

$fs-modal-sub: 12rem; // 모달 서브 라벨 폰트 사이즈
$fw-modal-sub: 400; // 모달 서브 라벨 폰트 웨이트

$fs-popup-title: 16.5rem; // 팝업 타이틀 폰트 사이즈
$fw-popup-title: 600; // 팝업 타이틀 폰트 웨이트

$fs-popup-msg1: 14rem; // 팝업 메시지 폰트 사이즈
$fw-popup-msg1: 500; // 팝업 메시지 폰트 웨이트

$fs-popup-msg2: 14rem; // 팝업 카카오톡 폰트 사이즈
$fw-popup-msg2: 500; // 팝업 카카오톡 폰트 웨이트


/* 라벨과 내용의 배치 */
.form-type1 { // 일반 타입
  display: grid; grid-template-columns: 2fr 3fr; gap: 18px;
  // margin-bottom: 18px;
}
.form-type2 { // 메모 타입
  // margin-bottom: 24px;
}

/* 라벨 */
.label1 {
  .label-text {
    font-size: $fs-modal-label; line-height: $fs-modal-label; font-weight: $fw-modal-label;
  }
}
.label2 {
  .label-text {
    font-size: $fs-modal-label; line-height: $fs-modal-label; font-weight: $fw-modal-label;
  }
  .sub-label {
    color: $color-k5;
    font-size: $fs-modal-sub; line-height: $fs-modal-sub; font-weight: $fw-modal-sub;
  }
}

/* Modal 시작 */
.modal-container {
  z-index: 700;
  display: flex; align-items: center; justify-content: center;
  position: fixed; top: 0; left: 0;
  height: 100%; width: 100%;
  .bg {
    z-index: 1;
    position: fixed; top: 0; left: 0;
    height: 100%; width: 100%;
    background-color: $color-k7;
  }
  .modal {
    z-index: 2;
    display: flex; flex-direction: column;
    max-height: 100%; width: 100%;
    background-color: $color-wa;
    .header {
      z-index: 1;
      box-shadow: 0 2px 2px 0px $color-k3;
      display: flex; align-items: center; justify-content: space-between;
      padding: 15rem;
      .title-group {
        .title {
          font-size: $fs-modal-title; font-weight: $fw-modal-title;
        }
        .sub-title {
          font-size: 14px;
          font-weight: 400;
          color: $color-k7;
        }
      }
      .close {
        background-color: transparent;
        height: 21rem; width: 21rem;
        img {
          height: 21rem; width: 21rem;
        }
      }
    }
    .content {
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 3px; height: 3px;
      }
      &::-webkit-scrollbar-track {
        background-color: $color-k1;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $color-k3;
      }
      height: 100%;
      padding: 15rem;
      font-size: 14rem;
    
      /* SUB BUTTON (ex. 예약 취소, SMS, 미발송, 발송 완료*/
      .btn-group1,
      .btn-group2-2 {
        margin-top: 6px;
      }

      /* SUB TITLE */
      .sub-title1 {
        display: flex; align-items: center; justify-content: space-between;
        color:$color-ca;
        font-size: 21rem; font-weight: 600;
        margin-bottom: 24px;
      }
      .sub-title2 {
        display: flex; align-items: center; justify-content: space-between;
        color:$color-ca;
        font-size: 15rem; font-weight: 400;
        margin-bottom: 12px;
      }
    
      /* 구분 줄*/
      .group-line1 {
        border: 1px solid $color-c5;
        margin: 48px 0;
      }
      .group-line2 {
        border: 1px solid #eeeeee;
        margin: 30px 0;
      }
      .group-line3 {
        border: 1px solid #ff0000;
        margin: 24px 0;
      }
    
      /* 인원, 반려동물 */
      .person {
        display: flex;
        .type {
          height: 33px; width: 70%;
          border: 1px solid #bbbbbb;
          box-sizing: border-box;
          background-color: #eeeeee;
          font-size: 14px;
          line-height: 33px;
          text-align: center;
        }
        input {
          border-left: 0;
          padding: 0 0 0 10px;
          text-align: center;
          width: 30%;
        }
      }
    
      /* 조회 */
      .read {
        padding: 4px 6px;
        text-align: right;
        font-size: 16px; font-weight: 500;
        border-bottom: 1px solid $color-k1;
        span {
          font-weight: 600;
        }
      }
    
      /* 작성 로그 */
      .record {
        color: $color-k7;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        span {
          color: $color-ka;
          font-weight: 600;
          padding-right: 12px;
        }
      
      }
    }

    >.bottom {
      z-index: 1;
      padding: 15rem;
      box-shadow: 0 -2px 2px 0 $color-k3;
    }
  }
}
/* Modal 끝 */

#popup-list { // 좌상단 클릭시 나타나는 숙소 목록
  .modal {
    .content {
      padding: 0;
      .partner-list {
        user-select: none;
        display: flex; flex-direction: column;
        border-top: 1px solid $color-k1;
        a {
          display: inline-block;
          height: 100%; width: 100%;
          padding: 15rem 18rem;
          border-bottom: 1px solid $color-k1;
          font-size: 15rem;
          color: $color-ka;
          text-decoration: none;
          &:visited, &:hover, &:focus {
            text-decoration: none;
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

/* Popup 시작 */
.popup-container {
  z-index: 800;
  display: flex; align-items: center; justify-content: center;
  position: fixed; top: 0; left: 0;
  max-height: 100%; width: 100%;
  padding: 30rem;
  .bg {
    z-index: 1;
    position: fixed; top: 0; left: 0;
    height: 100%; width: 100%;
    background-color: $color-k7;
  }
  .popup {
    z-index: 2;
    display: flex; flex-direction: column; gap: 21rem;
    height: 100%; width: 100%;
    padding: 18rem;
    background-color: $color-wa;
    .header {
      .title {
        font-size: $fs-popup-title; font-weight: $fw-popup-title;
      }
    }
    .content {
      overflow-y: auto; height: 100%;
      .msg1 { // 팝업 메시지 내용
        text-align: center;
        font-size: 18px; font-weight: 500;
      }
      .msg2 { // 카카오톡 알림톡 내용
        border: 1px solid #cfcfcf;
        padding: 12px;
        overflow-y: auto;
        max-height: 360px;
        font-size: 14px; font-weight: 400;
      }
    }
    >.bottom {
      user-select: none;
    }
  }
}
/* Popup 끝 */

.sub-check {
  user-select: none;
  display: flex;
  padding-right: 6px;
  label {
    display: flex; align-items: center;
    font-size: 13rem; font-weight: 400;
    input {
      margin: 0 6rem 0 0;
      height: 15rem; width: 15rem;
      min-height: 15rem; min-width: 15rem;
    }
    &:hover {
      outline: 1px solid $color-k7;
      outline-offset: -1px;
    }
  }
}