@charset "UTF-8";
/* 라벨과 내용의 배치 */
.form-type1 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 18px;
}

/* 라벨 */
.label1 .label-text {
  font-size: 13rem;
  line-height: 13rem;
  font-weight: 500;
}

.label2 .label-text {
  font-size: 13rem;
  line-height: 13rem;
  font-weight: 500;
}
.label2 .sub-label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12rem;
  line-height: 12rem;
  font-weight: 400;
}

/* Modal 시작 */
.modal-container {
  z-index: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.modal-container .bg {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-container .modal {
  z-index: 2;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.modal-container .modal .header {
  z-index: 1;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15rem;
}
.modal-container .modal .header .title-group .title {
  font-size: 18rem;
  font-weight: 600;
}
.modal-container .modal .header .title-group .sub-title {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
}
.modal-container .modal .header .close {
  background-color: transparent;
  height: 21rem;
  width: 21rem;
}
.modal-container .modal .header .close img {
  height: 21rem;
  width: 21rem;
}
.modal-container .modal .content {
  overflow-y: auto;
  height: 100%;
  padding: 15rem;
  font-size: 14rem;
  /* SUB BUTTON (ex. 예약 취소, SMS, 미발송, 발송 완료*/
  /* SUB TITLE */
  /* 구분 줄*/
  /* 인원, 반려동물 */
  /* 조회 */
  /* 작성 로그 */
}
.modal-container .modal .content::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.modal-container .modal .content::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}
.modal-container .modal .content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-container .modal .content .btn-group1,
.modal-container .modal .content .btn-group2-2 {
  margin-top: 6px;
}
.modal-container .modal .content .sub-title1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 180, 255);
  font-size: 21rem;
  font-weight: 600;
  margin-bottom: 24px;
}
.modal-container .modal .content .sub-title2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 180, 255);
  font-size: 15rem;
  font-weight: 400;
  margin-bottom: 12px;
}
.modal-container .modal .content .group-line1 {
  border: 1px solid rgba(0, 180, 255, 0.5);
  margin: 48px 0;
}
.modal-container .modal .content .group-line2 {
  border: 1px solid #eeeeee;
  margin: 30px 0;
}
.modal-container .modal .content .group-line3 {
  border: 1px solid #ff0000;
  margin: 24px 0;
}
.modal-container .modal .content .person {
  display: flex;
}
.modal-container .modal .content .person .type {
  height: 33px;
  width: 70%;
  border: 1px solid #bbbbbb;
  box-sizing: border-box;
  background-color: #eeeeee;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
}
.modal-container .modal .content .person input {
  border-left: 0;
  padding: 0 0 0 10px;
  text-align: center;
  width: 30%;
}
.modal-container .modal .content .read {
  padding: 4px 6px;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-container .modal .content .read span {
  font-weight: 600;
}
.modal-container .modal .content .record {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.modal-container .modal .content .record span {
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding-right: 12px;
}
.modal-container .modal .content .partner-list {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
}
.modal-container .modal .content .partner-list li {
  padding: 15rem 9rem;
  font-size: 15rem;
}
.modal-container .modal .content .partner-list li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.modal-container .modal .content .partner-list li a:visited, .modal-container .modal .content .partner-list li a:hover, .modal-container .modal .content .partner-list li a:focus {
  text-decoration: none;
}
.modal-container .modal > .bottom {
  z-index: 1;
  padding: 15rem;
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.3);
}

/* Modal 끝 */
/* Popup 시작 */
.popup-container {
  z-index: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100%;
  width: 100%;
  padding: 30rem;
}
.popup-container .bg {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.popup-container .popup {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 21rem;
  height: 100%;
  width: 100%;
  padding: 18rem;
  background-color: rgb(255, 255, 255);
}
.popup-container .popup .header .title {
  font-size: 18rem;
  font-weight: 600;
}
.popup-container .popup .content {
  overflow-y: auto;
  height: 100%;
}
.popup-container .popup .content .msg1 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.popup-container .popup .content .msg2 {
  border: 1px solid #cfcfcf;
  padding: 12px;
  overflow-y: auto;
  max-height: 360px;
  font-size: 14px;
  font-weight: 400;
}
.popup-container .popup > .bottom {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Popup 끝 */
.sub-check {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  padding-right: 6px;
}
.sub-check label {
  display: flex;
  align-items: center;
  font-size: 13rem;
  font-weight: 400;
}
.sub-check label input {
  margin: 0 6rem 0 0;
  height: 15rem;
  width: 15rem;
  min-height: 15rem;
  min-width: 15rem;
}
.sub-check label:hover {
  outline: 1px solid rgba(0, 0, 0, 0.7);
  outline-offset: -1px;
}/*# sourceMappingURL=m_popup.css.map */