@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

/* 화면 스크롤 가리기 */
.hide_scroll::-webkit-scrollbar {
  display: none;
}

/* 팝업 발생시 전체화면 스크롤 막는 기능 */
.not_scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  font-size: 1px;
}

body {
  font-family: Apple SD Gothic Neo;
  background-color: rgb(0, 180, 255);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

nav {
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 180, 255);
}
nav .navigation {
  height: 45px;
  width: 100%;
  padding: 0 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navigation .brand {
  z-index: 997;
  cursor: pointer;
  font-size: 16rem;
  font-weight: 700;
  letter-spacing: -0.5rem;
}
nav .navigation .icon-group {
  z-index: 997;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 21rem;
}
nav .navigation .icon-group .icon {
  cursor: pointer;
}
nav .navigation .icon-group .icon img {
  height: 18px;
}
nav .navigation .icon-group .menu-icon {
  display: none;
  position: relative;
  cursor: pointer;
  width: 19px;
  height: 16px;
  color: rgb(255, 255, 255);
}
nav .navigation .icon-group .menu-icon span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
nav .navigation .icon-group .menu-icon span:nth-child(1) {
  top: 0px;
}
nav .navigation .icon-group .menu-icon span:nth-child(2), nav .navigation .icon-group .menu-icon span:nth-child(3) {
  top: 7px;
}
nav .navigation .icon-group .menu-icon span:nth-child(4) {
  top: 14px;
}
nav .navigation .icon-group .menu-icon.open span:nth-child(1), nav .navigation .icon-group .menu-icon.open span:nth-child(4) {
  top: 7px;
  width: 0%;
  left: 50%;
}
nav .navigation .icon-group .menu-icon.open span:nth-child(2) {
  transform: rotate(45deg);
}
nav .navigation .icon-group .menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
}
nav .navigation ul {
  z-index: 996;
  display: none;
  height: 100vh;
  width: 100%;
}
nav .navigation ul li {
  font-size: 27rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
nav .navigation ul li a:link, nav .navigation ul li a:visited {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
nav .navigation ul li a:hover, nav .navigation ul li a.active {
  color: rgb(255, 255, 255);
  font-weight: 500;
}
nav.responsive {
  height: 100vh;
}
nav.responsive .navigation {
  position: relative;
}
nav.responsive .navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30rem;
}

header {
  z-index: 300;
  position: fixed;
  top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15rem;
  height: 45px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
header .title {
  display: flex;
  align-items: center;
  font-size: 16rem;
  font-weight: 700;
}
header .title span {
  margin-left: 9rem;
  font-size: 12rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.content-container > .content {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}
.content-container > .content .artboard {
  background-color: rgb(255, 255, 255);
}
.content-container > .content .artboard > .confirm {
  margin-top: 45rem;
}

footer {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0 15rem;
  font-size: 15rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.hide {
  display: none;
}

/* Input, Select, Textarea, Label 공통 */
/* 입력 공통 */
input {
  height: 36rem;
  width: 100%;
  padding: 0 12rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  font-family: Apple SD Gothic Neo;
  font-size: 14rem;
  font-weight: 500;
}
input:hover {
  outline: 1px solid rgba(0, 0, 0, 0.7);
  outline-offset: -1px;
}
input:focus {
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
}
input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}
input[type=date]::-webkit-calendar-picker-indicator,
input [type=time]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  height: 21px;
  width: 21px;
  margin: 0;
  padding: 0;
}
input[type=checkbox] {
  cursor: pointer;
}
input[type=checkbox]:hover, input[type=checkbox]:focus {
  outline: none;
}
input[type=radio] {
  cursor: pointer;
  height: 21px;
  width: 21px;
}
input[type=number]::-webkit-inner-spin-button {
  height: 30px;
  width: 30px;
}
input[type=file] {
  cursor: pointer;
  padding: 8rem 12rem;
  height: 36rem;
  border-color: rgb(0, 180, 255);
  border-radius: 6rem;
  font-size: 13rem;
  font-weight: 500;
  vertical-align: middle;
  color: rgb(0, 180, 255);
}
input[type=file]:hover {
  outline: 1px solid rgba(0, 0, 0, 0.7);
  outline-offset: -1px;
}
input[type=file]:focus {
  outline: 2px solid rgba(0, 0, 0, 0.7);
  outline-offset: -2px;
}
input[type=file]::file-selector-button {
  display: none;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 36rem;
  width: 100%;
  padding: 0 12rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
  font-family: Apple SD Gothic Neo;
  font-size: 14rem;
  font-weight: 500;
}
select:hover {
  outline: 1px solid rgba(0, 0, 0, 0.7);
  outline-offset: -1px;
}
select:focus {
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
}

textarea {
  resize: none;
  width: 100%;
  padding: 12rem;
  background-color: rgb(255, 255, 255);
  font-family: Apple SD Gothic Neo;
  font-size: 13rem;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
textarea:hover {
  outline: 1px solid rgba(0, 0, 0, 0.7);
  outline-offset: -1px;
}
textarea:focus {
  outline: 2px solid rgb(0, 0, 0);
  outline-offset: -2px;
}

label {
  cursor: pointer;
}

/* 뒤에만 단위가 있는 input */
.input-group1 {
  display: flex;
  align-items: center;
  position: relative;
}
.input-group1 input, .input-group1 select {
  padding-right: 33px;
}
.input-group1 .unit2 {
  position: absolute;
  right: 12rem;
}

/* 앞뒤에 단위가 있는 input */
.input-group2 {
  display: flex;
  align-items: center;
  position: relative;
}
.input-group2 input, .input-group2 select {
  padding: 0 33rem 0 24rem;
}
.input-group2 .unit1 {
  position: absolute;
  left: 12rem;
}
.input-group2 .unit2 {
  position: absolute;
  right: 12rem;
}

.text-red {
  color: rgb(244, 81, 108) !important;
}/*# sourceMappingURL=m_universal.css.map */