$color-wa: rgba(255, 255, 255, 1);
$color-w5: rgba(255, 255, 255, 0.5); // Menu text (normal)

$color-ka: rgba(0, 0, 0, 1);
$color-k7: rgba(0, 0, 0, 0.7); // Hover
$color-k5: rgba(0, 0, 0, 0.5); // Result
$color-k3: rgba(0, 0, 0, 0.3); // Placeholder, Box-shadow
$color-k2: rgba(0, 0, 0, 0.2); // Input, Select, Textarea

$color-xd: #dddddd;

$color-ca: rgba(0, 180, 255, 1);

$color-ma: rgba(244, 81, 108, 1);

$fs-brand: 16rem; // 브랜드 폰트 사이즈
$fw-brand: 700; // 브랜드 폰트 웨이트

$fs-menu: 27rem; // 메뉴 폰트 사이즈
$fw-menu1: 400; // 메뉴 폰트 웨이트1 (일반)
$fw-menu2: 500; // 메뉴 폰트 웨이트2 (Hover 및 Active)

$fs-con-title: 16rem; // 내용 타이틀 폰트 사이즈
$fw-con-title: 700; // 내용 타이틀 폰트 웨이트

$fs-result: 12rem; // 검색 결과 폰트 사이즈
$fw-result: 400; // 검색 결과 폰트 웨이트

$fs-copy: 15rem; // 카피라이트 폰트 사이즈
$fw-copy: 400; // 카피라이트 폰트 웨이트

$fs-input: 14rem; // Input, Select 폰트 사이즈
$fw-input: 500; // Input, Select 폰트 사이즈

$fs-textarea: 13rem; // Textarea 폰트 사이즈
$fw-textarea: 400; // Textarea 폰트 사이즈

*, *::before, *::after {
  box-sizing: border-box;
}

/* 화면 스크롤 가리기 */
.hide_scroll::-webkit-scrollbar {
  display: none;
}

/* 팝업 발생시 전체화면 스크롤 막는 기능 */
.not_scroll {
  overflow-x: hidden; overflow-y: hidden;
}

html {
  font-size: 1px; //rem 사용
}

body {
  font-family: Apple SD Gothic Neo;
  background-color: $color-ca;
  user-select: none;
}

nav {
  z-index: 500;
  position: fixed; top: 0; left:0;
  user-select: none;
  display: flex; justify-content: center;
  width: 100%;
  color: $color-wa;
  background-color: $color-ca;
  .navigation {
    height: 45px; width: 100%;
    padding: 0 15rem;
    display: flex; justify-content: space-between; align-items: center;
    .brand {
      z-index: 997;
      cursor: pointer;
      font-size: $fs-brand; font-weight: $fw-brand; letter-spacing: -0.5rem;
    }
    
    .icon-group {
      z-index: 997;
      display: flex; align-items: center; justify-content: space-between; gap: 21rem;
      .icon {
        cursor: pointer;
        img {
          height: 18px;
        }
      }
      .menu-icon {
        display: none;
        position: relative;
        cursor: pointer;
        width: 19px; height: 16px;
        color: $color-wa;
        span {
          display: block;
          position: absolute;
          width: 100%; height: 2px;
          background-color: $color-wa;
          border-radius: 2px;
          left: 0;
          transform: rotate(0deg); transition: .25s ease-in-out;
          &:nth-child(1) {
            top: 0px;
          }
          &:nth-child(2), &:nth-child(3) {
            top: 7px;
          }
          &:nth-child(4) {
            top: 14px;
          }
        }
        &.open {
          span {
            &:nth-child(1), &:nth-child(4) {
              top: 7px; width: 0%; left: 50%;
            }
            &:nth-child(2) {
              transform: rotate(45deg);
            }
            &:nth-child(3) {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }

    ul {
      z-index: 996;
      display: none;
      height: 100vh; width: 100%;
      li {
        font-size: $fs-menu; font-weight: $fw-menu1;
        color: $color-w5;
        a {
          &:link, &:visited {
            color: $color-w5; text-decoration: none;
          }
          &:hover, &.active {
            color: $color-wa; font-weight: $fw-menu2;
          }
        }
      }
    }
  }
  &.responsive {
    height: 100vh;
    .navigation {
      position: relative;
      ul {
        position: absolute; top: 0; left: 0;
        display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 30rem;
      }
    }
  }
}
header {
  z-index: 300;
  position: fixed; top: 45px;
  display: flex; align-items: center; justify-content: space-between;
  padding: 0 15rem;
  height: 45px; width: 100%;
  background-color: $color-wa;
  box-shadow: 0 2px 2px 0 $color-k3;
  .title {
    display: flex; align-items: center;
    font-size: $fs-con-title; font-weight: $fw-con-title;
    span {
      margin-left: 9rem;
      font-size: $fs-result; font-weight: $fw-result;
      color: $color-k5;
    }
  }
}
.content-container {
  >.content {
    display: flex; flex-direction: column;
    margin-top: 90px;
    // padding: 6rem; gap: 6rem;
    // background-color: $color-xd;
    .artboard {
      background-color: $color-wa;
      >.confirm {
        margin-top: 45rem;
      }
    }
  }
}

footer {
  display: flex; align-items: center;
  height: 45px;
  padding: 0 15rem;
  font-size: $fs-copy; font-weight: $fw-copy;
  color: $color-wa;
}

.hide {
  display: none;
}


/* Input, Select, Textarea, Label 공통 */

/* 입력 공통 */
input {
  height: 36rem; width: 100%;
  padding: 0 12rem;
  border: 1px solid $color-k2;
  background-color: $color-wa;
  font-family: Apple SD Gothic Neo; font-size: $fs-input; font-weight: $fw-input;
  &:hover {
    outline: 1px solid $color-k7;
    outline-offset: -1px;
  }
  &:focus {
    outline: 2px solid $color-ka;
    outline-offset: -2px;
  }
  &::placeholder {
    color: $color-k3 !important;
  }

  &[type=date]::-webkit-calendar-picker-indicator,
  [type=time]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    height: 21px; width: 21px;
    margin: 0; padding: 0;
  }
  &[type=checkbox] {
    cursor: pointer;
    &:hover, &:focus {
      outline: none;
    }
  }
  &[type=radio] {
    cursor: pointer;
    height: 21px; width: 21px;
  }
  &[type=number]::-webkit-inner-spin-button { // 화살표
    height: 30px; width: 30px;
  }
  &[type=file] {
    cursor: pointer;
    padding: 8rem 12rem;
    height: 36rem;
    border-color: $color-ca;
    border-radius: 6rem;
    font-size: 13rem; font-weight: 500; vertical-align: middle;
    color:$color-ca;
    &:hover {
      outline: 1px solid $color-k7;
      outline-offset: -1px;
    }
    &:focus {
      outline: 2px solid $color-k7;
      outline-offset: -2px;
    }
    &::file-selector-button {
      display: none;
    }
  }
}

select {
  cursor: pointer; appearance: none;
  height: 36rem; width: 100%;
  padding: 0 12rem;
  border: 1px solid $color-k2;
  background-color: $color-wa;
  font-family: Apple SD Gothic Neo; font-size: $fs-input; font-weight: $fw-input;
  &:hover {
    outline: 1px solid $color-k7;
    outline-offset: -1px;
  }
  &:focus {
    outline: 2px solid $color-ka;
    outline-offset: -2px;
  }
}

textarea {
  resize: none;
  width: 100%;
  padding: 12rem;
  background-color: $color-wa;
  font-family: Apple SD Gothic Neo; font-size: $fs-textarea; font-weight: $fw-textarea;
  border: 1px solid $color-k2;
  &:hover {
    outline: 1px solid $color-k7;
    outline-offset: -1px;
  }
  &:focus {
    outline: 2px solid $color-ka;
    outline-offset: -2px;
  }
}

label {
  cursor: pointer;
}

/* 뒤에만 단위가 있는 input */
.input-group1 {
  display: flex; align-items: center;
  position: relative;
  input, select {
    padding-right: 33px;
  }
  .unit2 {
    position: absolute;
    right: 12rem;
  }
}

/* 앞뒤에 단위가 있는 input */
.input-group2 {
  display: flex; align-items: center;
  position: relative;
  input, select {
    padding: 0 33rem 0 24rem;
  }
  .unit1 {
    position: absolute;
    left: 12rem;
  }
  .unit2 {
    position: absolute;
    right: 12rem;
  }
}




.text-red {
  color: $color-ma !important;
}