@charset "UTF-8";
.example-group {
  text-align: left;
}
.example-group hr {
  margin: 54px 0;
  opacity: 0.3;
}
.example-group .example {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.example-group .example h2.title {
  font-size: 24px;
  font-weight: 500;
}
.example-group .example .sec {
  margin: 21px 0 0 6px;
}
.example-group .example .sec p.title {
  font-size: 18px;
  font-weight: 500;
  color: rgb(0, 180, 255);
}
.example-group .example .sec .des-group {
  margin: 9px 0 0 9px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.example-group .example .sec .des-group .des {
  margin-bottom: 9px;
}
.example-group .example .sec .des-group .btn {
  cursor: pointer;
  margin-left: 9px;
  color: rgba(0, 0, 0, 0.5);
}
.example-group .example .sec .des-group .btn:hover {
  color: rgba(0, 180, 255, 0.75);
}

/* Popup 시작 */
#popup-list, #other-list { /* 블럭 지정 방지 */
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.popup-container .popup-bg {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
.popup-container .popup {
  z-index: 2;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 390px;
}
.popup-container .popup .popup-contents {
  padding: 30px 30px 0 30px;
}
.popup-container .popup .popup-contents .title1 {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 30px;
}
.popup-container .popup .popup-contents .form-type1 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: 21px;
}
.popup-container .popup .popup-contents .form-type1 .label1 {
  margin-top: 9px;
  line-height: 15px;
  font-weight: 500;
}
.popup-container .popup .popup-contents .form-type1 select {
  margin-bottom: 6px;
}
.popup-container .popup .popup-contents .form-type1 select:last-child {
  margin-bottom: 0;
}
.popup-container .popup .popup-contents .form-type2 {
  margin-top: 27px;
}
.popup-container .popup .popup-contents .form-type2 .label1 {
  margin-bottom: 9px;
  line-height: 15px;
  font-weight: 500;
}
.popup-container .popup .popup-contents .upload-group .uploading {
  margin-bottom: 9px;
}
.popup-container .popup .popup-contents .upload-group .uploading li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 5px 12px;
  border: 1px solid #bbbbbb;
  border-radius: 6px;
  font-size: 15px;
}
.popup-container .popup .popup-contents .upload-group .uploading li .name-cover {
  max-width: 540px;
}
.popup-container .popup .popup-contents .upload-group .uploading li .name-cover .filename {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.popup-container .popup .popup-contents .upload-group .uploading li button {
  font-size: 18px;
}
.popup-container .popup .popup-contents .upload-group .upload {
  display: grid;
  grid-template-columns: 1fr 90px;
  gap: 12px;
}
.popup-container .popup .popup-contents .upload-group .upload input[type=file] {
  border-color: rgb(0, 180, 255);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding-left: 9px;
  height: 33px;
  line-height: 33px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(0, 180, 255);
}
.popup-container .popup .popup-contents .upload-group .upload input[type=file]:hover {
  box-shadow: 0 0 0 1px #444444;
  outline: 0;
}
.popup-container .popup .popup-contents .upload-group .upload input[type=file]:focus {
  box-shadow: 0 0 0 2px #444444;
  outline: 0;
}
.popup-container .popup .popup-contents .upload-group .upload input[type=file]::file-selector-button {
  display: none;
  height: 30px;
}
.popup-container .popup .popup-contents input[type=text] {
  width: 100%;
  padding: 0 12px;
  height: 33px;
  font-size: 15px;
  font-weight: 500;
}
.popup-container .popup .popup-contents textarea {
  overflow-y: auto;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
}
.popup-container .popup .popup-contents textarea.question {
  min-height: 240px;
}
.popup-container .popup .popup-contents textarea.sms {
  min-height: 360px;
}
.popup-container .popup .popup-contents select {
  height: 33px;
  width: 100%;
  padding: 0 12px;
  font-size: 15px;
  font-weight: 500;
}
.popup-container .popup .popup-contents .msg1 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.popup-container .popup .popup-contents .msg2 {
  border: 1px solid #cfcfcf;
  padding: 12px;
  overflow-y: auto;
  max-height: 360px;
  font-size: 14px;
  font-weight: 400;
}
.popup-container .popup .popup-contents .selectbox {
  max-height: 360px;
  overflow-y: auto;
}
.popup-container .popup .popup-contents .selectbox a {
  text-decoration: none;
}
.popup-container .popup .popup-contents .selectbox a:visited, .popup-container .popup .popup-contents .selectbox a:hover, .popup-container .popup .popup-contents .selectbox a:focus {
  text-decoration: none;
}
.popup-container .popup .popup-contents .selectbox li {
  cursor: pointer;
  padding: 12px 9px;
  color: #000000;
}
.popup-container .popup .popup-contents .selectbox li:hover {
  background-color: #eeeeee;
}
.popup-container .popup .popup-contents .select-group {
  display: grid;
  gap: 15px;
}
.popup-container .popup .popup-bottom {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 30px;
}

/* Popup 끝 */
/* Modal 시작 */
.modal-container {
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}
.modal-container .modal-bg {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.modal-container .modal {
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.modal-container .modal .modal-header {
  z-index: 1;
  align-items: center;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 24px 30px 24px 24px;
}
.modal-container .modal .modal-header .modal-title {
  font-size: 24px;
  font-weight: 600;
}
.modal-container .modal .modal-header .sub-title {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
}
.modal-container .modal .modal-header button {
  background-color: transparent;
  border: 0px;
  height: 30px;
  width: 30px;
}
.modal-container .modal .modal-header button:hover {
  outline: 2px solid rgb(0, 180, 255);
}
.modal-container .modal .modal-header button:focus {
  outline: 2px solid #444444;
}
.modal-container .modal .modal-header button img {
  height: 30px;
  width: 30px;
}
.modal-container .modal .modal-contents {
  font-size: 15px;
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 24px 24px 0 24px;
  /* Modal 내용 - 스크롤 */
  /* 라벨과 내용의 배치 */
  /* 라벨 */
  /* 입력 공통 */
  /* 뒤에만 단위가 있는 input */
  /* 앞뒤에 단위가 있는 input */
  /* SUB BUTTON (ex. 예약 취소, SMS, 미발송, 발송 완료*/
  /* SUB TITLE */
  /* 구분 줄*/
  /* 인원, 반려동물 */
  /* 조회 */
  /* 작성 로그 */
}
.modal-container .modal .modal-contents::-webkit-scrollbar {
  width: 5px;
}
.modal-container .modal .modal-contents::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
}
.modal-container .modal .modal-contents .form-type1 { /* 일반 타입 */
  margin-bottom: 18px;
}
.modal-container .modal .modal-contents .form-type2 { /* 메모 타입 */
  margin-bottom: 24px;
}
.modal-container .modal .modal-contents .label1 {
  margin-top: 9px;
  font-weight: 600;
  line-height: 15px;
}
.modal-container .modal .modal-contents .label2 {
  font-weight: 600;
  line-height: 15px;
}
.modal-container .modal .modal-contents .label2 .label-text {
  margin-bottom: 3px;
}
.modal-container .modal .modal-contents .label2 .sub-label {
  color: #888888;
  font-size: 13px;
  font-weight: 400;
}
.modal-container .modal .modal-contents input[type=text], .modal-container .modal .modal-contents input[type=date], .modal-container .modal .modal-contents input[type=number] {
  width: 100%;
  padding: 0 12px;
  height: 33px;
  font-size: 15px;
  font-weight: 500;
}
.modal-container .modal .modal-contents select {
  height: 33px;
  width: 100%;
  padding: 0 12px;
  font-size: 15px;
  font-weight: 500;
}
.modal-container .modal .modal-contents textarea {
  width: 100%;
  margin-top: 6px;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
}
.modal-container .modal .modal-contents .input-group1 {
  align-items: center;
  display: flex;
  position: relative;
}
.modal-container .modal .modal-contents .input-group1 input,
.modal-container .modal .modal-contents .input-group1 select {
  padding-right: 33px;
}
.modal-container .modal .modal-contents .input-group1 .unit2 {
  position: absolute;
  right: 12px;
}
.modal-container .modal .modal-contents .input-group2 {
  align-items: center;
  display: flex;
  position: relative;
}
.modal-container .modal .modal-contents .input-group2 input,
.modal-container .modal .modal-contents .input-group2 select {
  padding: 0 33px 0 24px;
}
.modal-container .modal .modal-contents .input-group2 .unit1 {
  position: absolute;
  left: 12px;
}
.modal-container .modal .modal-contents .input-group2 .unit2 {
  position: absolute;
  right: 12px;
}
.modal-container .modal .modal-contents .btn-group1,
.modal-container .modal .modal-contents .btn-group2-2 {
  margin-top: 6px;
}
.modal-container .modal .modal-contents .btn7-2 {
  font-size: 27px;
}
.modal-container .modal .modal-contents .sub-title1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 180, 255);
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 24px;
}
.modal-container .modal .modal-contents .sub-title2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 180, 255);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 12px;
}
.modal-container .modal .modal-contents .group-line1 {
  border: 1px solid rgba(0, 180, 255, 0.5);
  margin: 48px 0;
}
.modal-container .modal .modal-contents .group-line2 {
  border: 1px solid #eeeeee;
  margin: 30px 0;
}
.modal-container .modal .modal-contents .group-line3 {
  border: 1px solid rgba(0, 180, 255, 0.1);
  margin: 24px 0;
}
.modal-container .modal .modal-contents .person, .modal-container .modal .modal-contents .pet {
  display: flex;
  margin-bottom: 5px;
}
.modal-container .modal .modal-contents .person:last-child, .modal-container .modal .modal-contents .pet:last-child {
  margin-bottom: 0;
}
.modal-container .modal .modal-contents .person .type, .modal-container .modal .modal-contents .pet .type {
  height: 33px;
  width: 70%;
  border: 1px solid #bbbbbb;
  box-sizing: border-box;
  background-color: #eeeeee;
  font-size: 14px;
  line-height: 33px;
  text-align: center;
}
.modal-container .modal .modal-contents .person input, .modal-container .modal .modal-contents .pet input {
  border-left: 0;
  padding: 0 0 0 10px;
  text-align: center;
  width: 30%;
}
.modal-container .modal .modal-contents .kkk {
  padding: 4px 6px;
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.modal-container .modal .modal-contents .kkk span {
  font-weight: 600;
}
.modal-container .modal .modal-contents .record {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.modal-container .modal .modal-contents .record span {
  color: #000000;
  font-weight: 600;
  padding-right: 12px;
}
.modal-container .modal .modal-bottom {
  z-index: 1;
  background-color: rgba(0, 180, 255, 0.05);
  box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.2);
  padding: 30px 30px 30px 24px;
}

/* Modal 끝 */
/* Side 시작 */
.side {
  z-index: 700;
}
.side .modal {
  width: 390px;
  position: fixed;
  top: 0;
  right: 0;
}
.side .modal .modal-contents .form-type1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

/* Side 끝 */
/* Center 시작 */
.center {
  z-index: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Center 팝업 끝 */
/* 예약 취소 생성 시작 */
#modal-c-create .modal-bg {
  opacity: 0;
}
#modal-c-create .modal {
  width: 390px;
}
#modal-c-create .modal .modal-contents .form-type1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
#modal-c-create .modal .modal-contents .info {
  border: 1px solid #cfcfcf;
  padding: 12px;
  overflow-y: auto;
  max-height: 210px;
  font-size: 14px;
  font-weight: 400;
}

/* 예약 취소 생성 끝 */
/* 기간 지정 방막기, 객실 폐쇄 Modal 시작*/
#modal-roomblock .modal, #modal-roomdeact .modal {
  width: 600px;
}
#modal-roomblock .modal .modal-contents .form-type1, #modal-roomdeact .modal .modal-contents .form-type1 {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 15px;
}
#modal-roomblock .modal .modal-contents .form-type1 .label2 .label-text, #modal-roomdeact .modal .modal-contents .form-type1 .label2 .label-text {
  margin-bottom: 6px;
}
#modal-roomblock .modal .modal-contents .form-type1 .input-row, #modal-roomdeact .modal .modal-contents .form-type1 .input-row {
  display: flex;
  align-items: center;
}
#modal-roomblock .modal .modal-contents .form-type1 .input-row input, #modal-roomdeact .modal .modal-contents .form-type1 .input-row input {
  width: 150px;
}
#modal-roomblock .modal .modal-contents .form-type1 .input-row span, #modal-roomdeact .modal .modal-contents .form-type1 .input-row span {
  margin: 0 9px;
}
#modal-roomblock .modal .modal-contents .form-type1 .room-type, #modal-roomdeact .modal .modal-contents .form-type1 .room-type {
  margin-bottom: 15px;
}
#modal-roomblock .modal .modal-contents .form-type1 .room-group, #modal-roomdeact .modal .modal-contents .form-type1 .room-group {
  display: flex;
  flex-wrap: wrap;
}
#modal-roomblock .modal .modal-contents .form-type1 .room-group div, #modal-roomdeact .modal .modal-contents .form-type1 .room-group div {
  margin: 0 5px 5px 0;
}
#modal-roomblock .modal .modal-bottom, #modal-roomdeact .modal .modal-bottom {
  gap: 30px;
}

/* 기간 지정 방막기 Modal 끝 */
/* 하단 팝업 시작 */
.bottom-popup {
  z-index: 600;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
}

/* 하단 팝업 끝 *//*# sourceMappingURL=popup.css.map */