#price-table {
  .calendar {
    .calendar-month {
      .top {
        display: flex; justify-content: space-between;
        margin-bottom: 15px;
        .title {
          font-size: 21px; font-weight: 600;
        }
        .calendar-control {
          display: flex; align-items: center;
          .year-month {
            margin-right: 15px;
            font-size: 21px; font-weight: 600;
          }
          .btn-group {
            display: flex;
            gap: 15px;
          }
        }

      }
      td {
        height: 105px;
        padding: 9px 15px 0 15px;
        .price-group{
          margin-top: 12px;
          display: flex; align-items: center;
          flex-direction: column;
          .price {
            margin-top: 3px;
            font-size: 18px; font-weight: 500;
          }
          .input-group {
            width: 75%;
            position: relative;
            display: flex; align-items: center; justify-content: space-between;
            input {
              width: 100%; height: 33px;
              padding-left: 15px;
              font-size: 16px; font-weight: 500;
            }
            .unit {
              font-size: 16px;
              position: absolute; right: 12px;
            }
          }
        }
      }
    }
    .price-legend {
      border: 1px solid #bbbbbb;
      padding: 21px;
      margin-bottom: auto;
      height: 625px;
      overflow-y: auto;
      li {
        font-size: 16px;
        display: flex;  align-items: center;
        margin-bottom: 21px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .legend-color {
        width: 21px; height: 21px; margin-right: 9px;
      }
    }
  }
  #price2-write {
    margin-top: 90px;
  }
}