.bulletin-write1 { /*숙소세부정보, 객실세부정보, 파트너계정생성및수정, 관리자계정및수정*/
  .form3 {
    margin-bottom: 75px;
    display: grid;
    grid-template-columns: 105px 1fr;
    column-gap: 30px;
  
    .label3 {
      font-size: 16px; font-weight: 600; color: #000000;
    }
    .col-right {
      .row {
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  
    .content-group {
      .sub-title {
        margin-bottom: 6px;
        font-size: 13px; font-weight: 500;
        line-height: 18px;
        color: rgba(0, 0 , 0, 0.45);
      }
      .input-group {
        position: relative;
        display: flex; align-items: center; justify-content: space-between;
        .unit {
          font-size: 14px;
          position: absolute; right: 15px;
        }
      }
      .preset-group {
        display: flex; align-items: center; justify-content: space-between;
        margin-bottom: 12px;
        select {
          height: 210px; width: 225px;
          padding: 10px;
          &:hover {
            outline: 0;
            cursor: unset;
          }
          &:focus {
            outline: 0;
          }
          option {
            font-size: 15px;
            padding: 3px;
            &:hover {
              background-color: rgba(0, 180, 255, 0.2);
              cursor: pointer;
            }
          }
        }
        .arrow {
          width: 66px; height: 80px;
          display: flex; flex-direction: column; justify-content: space-between;
        }
      }
      .btn-group { /*숙소 및 객실 세부 정보에서 항목 설정에서 설정한 내용 적용하는 버튼*/
        display: flex; justify-content: flex-end;
        .ordering {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 6px;
          width: 225px;
        }
      }
      .options { /* 계정 설정에서 소속 선택시 */
        border: 1px solid #cccccc;
        background-color: #ffffff;
        padding: 9px;
        label {
          padding: 6px 3px;
          font-size: 15px;
          display: flex; align-items: center;
          margin-bottom: 9px;
          &:hover {
            background-color: #eeeeee;
          }
          input[type=checkbox] {
            margin-right: 9px;
            width: 21px; height: 21px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  
    .content {
      width: 100%;
      font-size: 15px;
      height: 36px;
      padding: 0 12px;
      font-weight: 500;
    }
    textarea {
      width: 100%;
      padding: 12px;
      font-size: 16px;
      font-weight: 500;
    }
    .uploading {
      margin-bottom: 24px;
      li {
        display: flex; justify-content: space-between;
        margin-bottom: 12px;
        padding: 5px 12px;
        border: 1px solid #bbbbbb;
        border-radius: 6px;
        font-size: 15px;
        button {
          font-size: 18px; 
        }
      }
    }
    
    .upload {
      display: grid; grid-template-columns: 1fr 90px;
      gap: 12px;
  
      input[type=file] {
        border-color:rgba(0, 180, 255, 1);
        border-radius: 6px;
        text-align: center;
        cursor: pointer;
        padding-left: 9px;
        height: 33px; line-height: 33px;
        font-size: 15px; font-weight: 500;
        color:rgba(0, 180, 255, 1);
        &:hover {
          box-shadow: 0 0 0 1px #444444;
          outline: 0;
        }
        &:focus {
          box-shadow: 0 0 0 2px #444444;
          outline: 0;
        }
        &::file-selector-button {
          display: none;
          height: 30px;
        }
      }
    }
    
  }
}

.bulletin-list1 { /*숙소세부정보, 객실세부정보, 게시판, 히스토리, 예약 목록*/
  .view-all {
    // margin-bottom: 15px;
  }
  .top {
    margin-top: 15px;
    .row1 {
      display: flex;
      border: 1px solid #bbbbbb;
      margin-bottom: 15px;
      padding: 21px;
      .item-group {
        display: flex; align-items: center;
        margin-right: 18px;
        select {
          font-size: 15px;
          height: 33px;
          padding: 0 15px;
        }
        input[type=date] {
          font-size: 15px;
          height: 33px;
          width: 180px;
          padding: 0 9px;
        }
        span {
          margin: 0 6px;
        }

        .btn-group {
          display: flex;
          button {
            padding: 0 12px;
            margin-right: 3px;
            font-size: 15px;
            line-height: 33px;
            border: 1px solid #cfcfcf;
            height: 33px;
            &:hover {
              outline: 1px solid #444444;
            }
            .active {
              cursor: unset;
              outline: 0;
              border-color: rgba(0, 180, 255, 1);
              background-color: rgba(0, 180, 255, 1);
              color: #ffffff;
            }
          }
        }
        .search-group {
          display: flex;
          .search {
            height: 33px; width: 300px;
            margin-right: 3px;
            padding: 0 12px;
            font-size: 15px;
            &::placeholder {
              color: #cccccc;
            }
          }
          button {
            padding: 0 12px;
            height: 33px;
            font-size: 15px;
            background-color: rgba(0, 180, 255, 1);
            color: #ffffff;
            &:hover {
              outline: 1px solid #444444;
            }
            &:focus {
              outline: 2px solid #000000;
            }
          }
        }

      }
    }
    .row2 {
      display: flex; justify-content: space-between;
      .filter-group {
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        user-select: none;
        display: flex;
        .filter1 { // select 필터
          margin-right: 12px;
          cursor: pointer;
          border: 1px solid #bbbbbb;
          width: 180px; height: 33px;
          font-size: 15px; line-height: 33px; font-weight: 400; text-align: center;
          &:focus {
            outline: 0px;
          }
        }
        .filter2 { // 자체 제작 필터
          position: relative;
          margin-right: 12px;
          cursor: pointer;
          &:hover {
            outline: 1px solid #444444;
          }
          .title {
            border: 1px solid #bbbbbb;
            width: 180px;
            height: 33px; line-height: 33px;
            font-size: 15px;
            text-align: center;
          }
          .options {
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 2px;
            border: 1px solid #888888;
            background-color: #ffffff;
            position: absolute; top: 33px; left: 0;
            width: 100%;
            padding: 6px;
            max-height: 450px;
            overflow-y: auto;
            z-index: 1; // 간혹 게시판 목록들과 겹치는 경우가 있다.
            label {
              padding: 6px 3px;
              font-size: 15px;
              display: flex; align-items: center;
              margin-bottom: 9px;
              &:hover {
                background-color: #eeeeee;
              }
              input[type=radio] {
                display: none;
              }
              input[type=checkbox] {
                margin-right: 6px;
                width: 18px; height: 18px;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
            .radio-select {
              padding-left: 9px;
            }
          }
        }
  
        .disabled {
          .title {
            border: 1px solid #dddddd;
            width: 180px;
            height: 33px; line-height: 33px;
            font-size: 15px;
            color: #cccccc;
            text-align: center;
          }
        }
  
      }
      .search-group {
        display: flex;
        .search {
          height: 33px; width: 240px;
          margin-right: 3px;
          padding: 0 12px;
          font-size: 15px;
          &::placeholder {
            color: #cccccc;
          }
        }
        button {
          padding: 0 12px;
          height: 33px;
          font-size: 15px;
          background-color: rgba(0, 180, 255, 1);
          color: #ffffff;
          &:hover {
            outline: 1px solid #444444;
          }
          &:focus {
            outline: 2px solid #000000;
          }
        }
      }
    }
  }
  .table {
    margin-top: 15px;
    border: 1px solid #cccccc;

    .row-group {
      > .title, .table-row {
        display: grid;
        text-align: center;
        > div {
          padding: 12px;
          border-right: 1px solid rgba(0, 0 , 0, 0.05);
          display: flex; justify-content: center; align-items: center;
          &:last-child {
            border-right: 0;
          }
        }
      }
      > .title {
        background-color: rgba(0, 180, 255, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
        font-size: 15px; font-weight: 600;
      }
      > .table-row {
        border-bottom: 1px solid rgba(0, 0 , 0, 0.05);
        font-size: 15px; font-weight: 400;
        .link {
          padding: 12px 27px;
          color: #000000;
          cursor: pointer;
          text-decoration: none;
          &:hover {
            color: rgba(0, 180, 255, 1);
          }
          .badge-xs {
            margin-right: 9px;
          }
          .shorten {
            user-select: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        input[type=checkbox] {
          width: 21px; height: 21px;
        }
      }

      .content-group {
        display: none;
        .content1, .content2 {
          padding: 30px;
          border-bottom: 1px solid rgba(0, 0 , 0, 0.05);
          .reply {
            margin-top: 15px;
            padding-left: 12px;
            border-left: 3px solid rgba(0, 180, 255, 0.6);
          }
          .title {
            font-weight: 400;
            color: rgba(0, 0 , 0, 0.5);
            margin-bottom: 9px;
          }
          .text {
            font-size: 16px; font-weight: 600;
            .edit {
              color: red;
            }
            .delete {
              text-decoration: line-through;
            }
          }
          .image {
            margin-top: 18px;
            img {
              width: 100%;
            }
          }
          .uploaded {
            margin-top: 18px;      
            li {
              margin-bottom: 9px;
              button {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 30%;
                padding: 5px 9px;
              }
            }
          }
          .btn-group {
            display: flex; justify-content: space-between;
            margin-top: 18px;
            gap: 9px;
            width: 30%;
            button {
              width: 100%;
            }
          }
          .record {
            margin-top: 18px;
            font-size: 14px;
            span {
              padding-right: 6px;
              font-weight: 600;
            }
          }
          
        }
      }
    }
    .row-group.selected {
      box-shadow: 0 0 0 3px rgba(0, 180, 255, 0.9) inset;
      .link {
        color: rgba(0, 180, 255, 1);
      }
      .content-group {
        display: block;
      }
    }
  }
  .bottom {
    .ordering {
      margin-top: 18px;
      width: 240px;
      display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 9px;
    }
    .page-group {
      margin-top: 30px;
      display: flex; align-items: center; justify-content: center;
      .previous, .next {
        display: flex;
        li {
          color: rgba(171, 171, 171, 0.7);
          font-size: 18px; font-weight: 500;
          cursor: pointer;
          &:hover {
            font-weight: 500;
            color: #444444;
          }
        }
      }
      .previous {
        margin-right: 30px;
        li {
          margin-right: 30px;
        }
      }
      .next {
        margin-left: 30px;
        li {
          margin-left: 30px;
        }
      }
      .page {
        display: flex;
        li {
          color: rgba(171, 171, 171, 0.7);
          font-size: 18px; font-weight: 400;
          cursor: pointer;
          margin-right: 45px;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            font-weight: 400;
            color: #444444;
          }
        }
        .selected {
          cursor: unset;
          color: rgba(0, 180, 255, 1);
          font-weight: 600;
          &:hover {
            font-weight: 600;
            color: rgba(0, 180, 255, 1);
          }
        }
      }
    }
  }
}

#c-ad-list {
  width: 70%;
  .top {
    .row3 {
      margin-top: 15px;
      padding: 15px 21px;
      border-radius: 15px;
      background-color: rgba(0, 180, 255, 0.1);
      .ad-account {
        font-size: 18px; font-weight: 600;
      }
      .ad-memo {
        margin-top: 6px;
        font-size: 15px; font-weight: 400;
      }
    }
  }
  .table {
    // margin-top: 30px;
    .title, .table-row {
      grid-template-columns: minmax(0, 1fr) 150px 150px 165px;
    }
  }
  
}
#s-ad-list {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 150px minmax(0, 1fr) 150px 150px 165px;
  }
}
#s-price-list {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 150px minmax(0, 1fr) 180px;
  }
}
#c-price-list {
  width: 70%;
  .title, .table-row {
    grid-template-columns: minmax(0, 1fr) 180px;
  }
}
#c-question-list {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 90px 120px minmax(0, 1fr) 165px;
  }
  .content1 {
    border-bottom: 1px solid rgba(0, 0 , 0, 0.05);
  }
  .content2 {
    .frame {
      padding-left: 30px;
      border-left: 3px solid rgba(0, 180, 255, 0.6);
    }
  }
}
#s-question-list {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 90px 120px minmax(0, 1fr) 150px 165px;
  }
  .content1 {
    border-bottom: 1px solid rgba(0, 0 , 0, 0.05);
  }
  .content2 {
    .frame {
      padding-left: 30px;
      border-left: 3px solid rgba(0, 180, 255, 0.6);
    }
  }
}
#faq-list {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 120px minmax(0, 1fr);
  }
  .content1 {
    .question {
      padding-bottom: 21px;
      margin-bottom: 21px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
    .answer {
      margin-bottom: 24px;
    }
  }
}
#faq-list-modify {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 60px 60px minmax(0, 1fr);
  }
}
#history-list {
  .title, .table-row {
    grid-template-columns: 180px 150px 120px minmax(0, 1fr) 90px 165px;
  }
}
#account-c-list {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 210px minmax(0, 1fr) 105px 180px 330px;
  }
  .btn-group {
    width: 90%;
    display: grid; grid-template-columns: 1fr 1fr 1fr;
    gap: 9px;
  }
}
#account-s-list {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 135px minmax(0, 1fr) 105px 165px 120px 330px;
  }
  .btn-group {
    width: 90%;
    display: grid; grid-template-columns: 1fr 1fr 1fr;
    gap: 9px;
  }
}


#account-c-list-modify {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 60px 60px 210px minmax(0, 1fr) 105px 180px;
  }
}
#account-s-list-modify {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 60px 60px 135px minmax(0, 1fr) 105px 165px 120px;
  }
}

#c-reservation-list {
  .table-row {
    font-size: 14px; font-weight: 400;
  }
  .title, .table-row {
    grid-template-columns: 90px 80px 120px 150px 350px 105px minmax(0, 1fr) minmax(0, 1fr);
    .contact, .schedule, .statue, .date, .price {
      display: flex; flex-direction: column;
    }

    .schedule {
      padding-left: 18px;
      align-items: baseline;
      text-align: left;
      &:hover {
        box-shadow: 0 0 0 2px rgba(0, 180, 255, 1) inset;
        cursor: pointer;
      }
      .set {
        margin-bottom: 9px;
        &:last-child {
          margin-bottom: 0;
        }
        .reason {
          // color: red;
          font-weight: 600;
        }
      }
    }
    .statue {
      position: relative;
      .btn-group1 {
        position: absolute; top: 0; right: 4px;
        .btn7-2 {
          font-size: 18px;
        }
      }
    }
    .contact {
      .btn-group2-4 {
        margin-top: 6px;
      }
    }
    .memo1, .memo2 { /*예약 목록에서 여러줄 메모 ... 처리*/
      .text{
        overflow: hidden;
        display: -webkit-box;
        white-space: normal;
        word-wrap: break-word;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}
#s-reservation-list {
  .table-row {
    font-size: 14px; font-weight: 400;
  }
  .title, .table-row {
    grid-template-columns: 150px 90px 80px 120px 165px 350px 105px minmax(0, 1fr) minmax(0, 1fr);
    .contact, .schedule, .statue, .date, .price {
      display: flex; flex-direction: column;
    }

    .schedule {
      padding-left: 18px;
      align-items: baseline;
      text-align: left;
      &:hover {
        box-shadow: 0 0 0 2px rgba(0, 180, 255, 1) inset;
        cursor: pointer;
      }
      .set {
        margin-bottom: 9px;
        &:last-child {
          margin-bottom: 0;
        }
        .reason {
          // color: red;
          font-weight: 600;
        }
      }
    }
    .statue {
      position: relative;
      .btn-group1 {
        position: absolute; top: 0; right: 4px;
        .btn7-2 {
          font-size: 18px;
        }
      }
    }
    .contact {
      .btn-group2-4 {
        margin-top: 6px;
      }
    }
    .memo1, .memo2 { /*예약 목록에서 여러줄 메모 ... 처리*/
      .text{
        overflow: hidden;
        display: -webkit-box;
        white-space: normal;
        word-wrap: break-word;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}
#partner-list {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 120px 120px 1fr 300px 90px;
  }
  .btn-group {
    display: grid; grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}
#partner-list-modify {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 60px 60px 120px 120px 1fr 90px;
  }
  .btn-group {
    display: grid; grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}
#roomtype-list {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 1fr 300px 120px 120px;
  }
  .btn-group {
    display: grid; grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}
#roomtype-list-modify {
  width: 70%;
  .title, .table-row {
    grid-template-columns: 60px 60px 1fr 120px 120px;
  }
  .btn-group {
    display: grid; grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}
#notice-list {
  width: 70%;
  .title, .table-row {
    grid-template-columns: minmax(0, 1fr) 180px;
  }
  .content1 {
    .range {
      font-size: 15px;
      color:rgba(0, 0, 0, 0.5);
      margin-top: 15px;
    }
  }
}


.bulletin-read1 { /*숙소 세부 정보, 객실 세부 정보*/
  .form3 {
    margin-bottom: 75px;
    display: grid;
    grid-template-columns: 105px 1fr;
    column-gap: 30px;
  
    .label3 {
      font-size: 16px; font-weight: 600; color: #000000;
    }
    .col-right {
      .row {
        margin-bottom: 33px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }


    .content-group {
      .sub-title {
        margin-bottom: 6px;
        font-size: 13px; font-weight: 500;
        line-height: 18px;
        color: rgba(0, 0 , 0, 0.45);
      }
      .content {
        display: flex; align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        width: 100%;
        padding: 0 0 5px 0;
        height: 36px;
        font-size: 16px; font-weight: 500; line-height: 30px;
        overflow: auto;
        &::-webkit-scrollbar { 
          display: none; 
        }
        a { /* 숙소 홈페이지 */
          color: #000000;
          text-decoration: none;
          &:hover {
            color: rgba(0, 180, 255, 1);
          }
        }
      }
      input.content, select.content {
        height: 36px;
        padding: 0 12px;
        font-size: 15px; font-weight: 500;
      }
      .text-box {
        border: 1px solid rgba(0, 0 , 0, 0.15);
        padding: 12px 15px;
        height: 120px;
        font-size: 15px; font-weight: 400;
        overflow: auto;
      }
      .element-group {
        display: flex; flex-wrap: wrap;
        gap: 9px;
        .element {
          display: flex; align-items: center;
          padding: 0 9px;
          height: 33px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 6px;
          font-size: 15px; font-weight: 500;
          // background-color: rgba(0, 180, 255, 1);
          color: rgba(0, 0, 0, 1);
        }
      }
      .uploaded {
        li {
          margin-bottom: 12px;
          button {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 6px 9px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
#refund-read {
  .table {
    li {
      grid-template-columns: 1fr 1fr ;
      .day {
        margin: 0 9px;
        font-size: 16px; font-weight: 600;
      }
      .percentage {
        margin: 0 9px;
        font-size: 16px; font-weight: 600;
      }
    }
    
  }
  .notice {
    color: red;
    font-size: 14px;
    font-weight: 600;
  }
}
#holiday-read {
  .top {
    select {
      width: 240px;
      padding: 0 15px;
      height: 33px;
    }
  }
  .table {
    li {
      grid-template-columns: 180px 1fr;
    }
  }
}
#channel-read {
  .table {
    li {
      grid-template-columns: 60px 1fr;
    }
  }
}
#room-name-read {
  .table {
    li {
      grid-template-columns: 60px 1fr;
    }
  }
}
#add-person-read, #add-pet-read {
  .table {
    li {
      grid-template-columns: 60px 1fr 1fr;
    }
    .unit-group {
      width: 80%;
      position: relative;
      display: flex; align-items: center; justify-content: space-between;
      .price {
        width: 100%;
        height: 30px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
      }
      .unit {
        font-size: 14px;
        position: absolute; right: 15px;
      }
    }
  }
}


.bulletin-write2 { /*보통의 게시판들 글쓰기 */
  .form3 {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 105px 1fr;
    column-gap: 6px;
  
    .label3 {
      margin-top: 6px;
      font-size: 16px; font-weight: 600; color: #000000;
    }

    
    .col-right {
      .filter1 {

        width: 100%;
        height: 36px; line-height: 36px;
        font-size: 15px; font-weight: 500;
        text-align: center;
      }
      .filter2 { /*문의 사항 및 자주 묻는 질문에서 질문 유형 선택, 공지 사항에서 공개 범위 선택*/
        user-select: none;
        position: relative;
        cursor: pointer;
        display: grid;
        &:hover {
          outline: 1px solid #444444;
        }
        .title {
          border: 1px solid #cccccc;
          padding: 0 12px;
          height: 36px; line-height: 36px;
          font-size: 15px;
          text-align: center;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .options {
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 2px;
          border: 1px solid #888888;
          background-color: #ffffff;
          position: absolute; top: 36px; left: 0;
          width: 100%;
          padding: 6px;

          label {
            padding: 6px 3px;
            font-size: 15px;
            display: flex; align-items: center;
            margin-bottom: 9px;
            &:hover {
              background-color: #eeeeee;
            }
            input[type=radio] {
              display: none;
            }
            input[type=checkbox] {
              margin-right: 6px;
              width: 18px; height: 18px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          .radio-select {
            padding-left: 9px;
          }
        }
      }

      .disabled {
        .title {
          border: 1px solid #dddddd;
          width: 180px;
          height: 33px; line-height: 33px;
          font-size: 15px;
          color: #cccccc;
          text-align: center;
        }
      }
      .input-group { /*정산서 입력시 단위가 있는 경우*/
        position: relative;
        display: flex; align-items: center; justify-content: space-between;
        .unit {
          font-size: 14px;
          position: absolute; right: 15px;
        }
      }
      .text { /*Input이 아닌 텍스트 고정*/
        display: flex; align-items: center;
        height: 30px;
        font-size: 16px; font-weight: 500;
      }
      .content { /*제목*/
        width: 100%;
        height: 36px;
        padding: 0 12px;
        font-size: 15px; font-weight: 500;
      }
      textarea { /*내용*/
        height: 240px; 
        width: 100%;
        padding: 12px;
        font-size: 16px;
        font-weight: 500;
      }
      .upload-group {
        .uploading {
          margin-bottom: 9px;
          li {
            display: flex; align-items: center; justify-content: space-between;
            margin-bottom: 12px;
            padding: 5px 12px;
            border: 1px solid #bbbbbb;
            border-radius: 6px;
            font-size: 15px;
            .name-cover {
              max-width: 540px;
              .filename {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap; 
              }
            }
            button {
              font-size: 18px; 
            }
          }
        }
        .upload {
          display: grid; grid-template-columns: 1fr 90px;
          gap: 12px;
      
          input[type=file] {
            border-color:rgba(0, 180, 255, 1);
            border-radius: 6px;
            text-align: center;
            cursor: pointer;
            padding-left: 9px;
            height: 33px; line-height: 33px;
            font-size: 15px; font-weight: 500;
            color:rgba(0, 180, 255, 1);
            &:hover {
              box-shadow: 0 0 0 1px #444444;
              outline: 0;
            }
            &:focus {
              box-shadow: 0 0 0 2px #444444;
              outline: 0;
            }
            &::file-selector-button {
              display: none;
              height: 30px;
            }
          }
        }
      }
    }

  }
}
#c-question-write {
  width: 50%;
}
#s-question-reply {
  .col-right {
    textarea {
      height: 150px;
    }
  }
  .confirm {
    display: flex; justify-content: center;
    button {
      width: 36%;
    }
  }
}
#ad-extractor {
  width: 35%;
  .grid-section {
    margin-bottom: 45px;
    .form3 {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  span {
    font-size: 14px;
    color: #aaaaaa;
  }
}
#c-ad-write, #s-ad-write {
  width: 50%;
}
#notice-write {
  width: 50%;
}
#price-write {
  width: 50%;
}
#s-faq-write {
  width: 50%;
}


.bulletin-list2 { /*환불 수수료, 공휴일 지정, 객실 이름, 인원추가, 항목설정*/
  .top {
    display: flex; justify-content: space-between;
    margin-bottom: 15px;
  }
  .table {
    border: 1px solid #cccccc;
    
    li {
      font-size: 15px;
      display: grid;

      .basic {
        width: 80%;
        padding: 0 12px;
        height: 30px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        text-align-last: center;
      }

      > div {
        padding: 12px 0;
        border-right: 1px solid rgba(0, 0 , 0, 0.05);
        display: flex; justify-content: center; align-items: center;
        &:last-child {
          border-right: 0;
        }
      }

      input[type=checkbox] {
        width: 21px; height: 21px;
      }
    }

    .title {
      background-color: rgba(0, 180, 255, 0.2);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
      font-weight: 600;
    }
    .table-row {
      &:nth-child(2n-1) {
        background-color: rgba(0, 180, 255, 0.05);
      }
    }
  }
  .confirm {
    margin-top: 18px;
    display: flex; justify-content: space-between;

    .btn-group {
      width: 180px;
      display: grid; grid-template-columns: 1fr 1fr;
      gap: 9px;
    }
    .ordering {
      width: 240px;
      display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 9px;
    }
  }
}
#channel-write {
  .table {
    li {
      grid-template-columns: 60px 60px 1fr;
    }
  }
}
#refund-write {
  .table {
    li {
      grid-template-columns: 1fr 1fr;
      .day {
        margin: 0 9px;
        font-size: 16px; font-weight: 600;
      }
      .percentage {
        text-align: center;
        margin: 0 6px 0 9px;
        height: 30px; width: 60px;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
  .notice {
    color: red;
    font-size: 14px;
    font-weight: 600;
  }
}
#holiday-write {
  .top {
    select {
      width: 240px;
      padding: 0 15px;
      height: 33px;
    }
  }
  .table {
    li {
      grid-template-columns: 60px 180px 1fr;
    }
  }
}
#room-name-write {
  .table {
    li {
      grid-template-columns: 60px 60px 1fr;
    }
  }
}
#add-person-write, #add-pet-write {
  .table {
    li {
      grid-template-columns: 60px 60px 1fr 1fr;
    }
    .unit-group {
      width: 80%;
      position: relative;
      display: flex; align-items: center; justify-content: space-between;
      .price {
        width: 100%;
        height: 30px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
      }
      .unit {
        font-size: 14px;
        position: absolute; right: 15px;
      }
    }
  }
}
#day-price { /* 요금 정보 수정시 */
  .table {
    li {
      grid-template-columns: 210px 1fr;
      &:nth-child(2) {
        border-bottom: 2px solid rgba(0, 180, 255, 0.5);
      }
    }
    .day {
      font-size: 16px; font-weight: 600;
    }
    .unit-group {
      width: 50%;
      position: relative;
      display: flex; align-items: center; justify-content: space-between;
      .price {
        width: 100%;
        height: 30px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
      }
      .unit {
        font-size: 14px;
        position: absolute; right: 15px;
      }
    }
  }
}
#holiday-price { /* 요금 정보 수정시 */
  .table {
    li {
      grid-template-columns: 210px 1fr;
      &:nth-child(2) {
        border-bottom: 2px solid rgba(0, 180, 255, 0.5);
      }
    }
    .title-group {
      text-align: center;
      .name {
        font-size: 16px; font-weight: 600;
      }
      .date {
        font-size: 14px; font-weight: 500;
        color: #999999;
      }
    }
    .unit-group {
      width: 50%;
      position: relative;
      display: flex; align-items: center; justify-content: space-between;
      .price {
        width: 100%;
        height: 30px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
      }
      .unit {
        font-size: 14px;
        position: absolute; right: 15px;
      }
    }
  }
}
#db1 {
  .table {
    li {
      grid-template-columns: 60px 60px 1fr 135px;
    }
  }
}
#db2 {
  .table {
    li {
      grid-template-columns: 60px 60px 1fr;
    }
  }
}


.bulletin-list3 { /*메인 페이지 리스트*/
  .top {
    display: flex; justify-content: space-between; align-items: center;
    margin-bottom: 15px;
    .title {
      font-size: 18px; font-weight: 600;
      span {
        margin-left: 15px;
        font-size: 18px; font-weight: 400;
        color:rgba(0, 0 , 0, 0.4);
      }
      a {
        text-decoration: none;
        color: #000000;
        &:hover {
          color:rgba(0, 180, 255, 1);
        }
      }
    }
    .filter-group {
      -ms-user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      user-select: none;
      display: flex;
      .filter1 { // select 필터
        margin-left: 12px;
        cursor: pointer;
        border: 1px solid #bbbbbb;
        width: 180px; height: 33px;
        font-size: 15px; line-height: 33px; font-weight: 400; text-align: center;
        &:focus {
          outline: 0px;
        }
      }
      .filter2 {
        position: relative;
        margin-left: 12px;
        cursor: pointer;
        &:hover {
          outline: 1px solid #444444;
        }
        .title {
          border: 1px solid #bbbbbb;
          width: 180px;
          height: 33px; line-height: 33px;
          font-size: 15px; font-weight: 400;
          text-align: center;
        }
        .options {
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px 2px;
          border: 1px solid #888888;
          background-color: #ffffff;
          position: absolute; top: 33px; left: 0;
          width: 100%;
          padding: 6px;
          max-height: 450px;
          overflow-y: auto;

          label {
            padding: 6px 3px;
            font-size: 15px;
            display: flex; align-items: center;
            margin-bottom: 9px;
            &:hover {
              background-color: #eeeeee;
            }
            input[type=radio] {
              display: none;
            }
            input[type=checkbox] {
              margin-right: 6px;
              width: 18px; height: 18px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          .radio-select {
            padding-left: 9px;
          }
        }
      }
    }
  }
  .table {
    border: 1px solid #cccccc;
    .row-group {
      > .title, .table-row {
        display: grid;
        text-align: center;
        > div {
          padding: 9px 12px;
          border-right: 1px solid rgba(0, 0 , 0, 0.05);
          display: flex; justify-content: center; align-items: center;
          &:last-child {
            border-right: 0;
          }
        }
      }
      > .title {
        background-color: rgba(0, 180, 255, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
        font-size: 14px; font-weight: 600;
      }
      .table-row {
        border-bottom: 1px solid rgba(0, 0 , 0, 0.05);
        font-size: 14px; font-weight: 400;
        .link {
          text-align: left; justify-content: left;
          padding: 12px 21px;
          color: #000000;
          cursor: pointer;
          text-decoration: none;
          &:hover {
            color: rgba(0, 180, 255, 1);
          }
          .shorten {
            user-select: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        input[type=checkbox] {
          width: 21px; height: 21px;
        }
      }
      .content-group {
        display: none;
        .content1, .content2 {
          padding: 15px 21px;
          border-bottom: 1px solid rgba(0, 0 , 0, 0.05);
          .title {
            font-weight: 400;
            color: rgba(0, 0 , 0, 0.5);
            margin-bottom: 9px;
          }
          .text {
            font-size: 15px; font-weight: 600;
            .edit {
              color: red;
            }
            .delete {
              text-decoration: line-through;
            }
          }

        }
      }
      
    }
    .row-group.selected {
      box-shadow: 0 0 0 3px rgba(0, 180, 255, 0.9) inset;
      .link {
        color: rgba(0, 180, 255, 1);
      }
      .content-group {
        display: block;
      }
    }
  }
  .bottom {
    margin-top: 18px;
    .page-group {
      display: flex; align-items: center; justify-content: center;
      .previous, .next {
        display: flex;
        li {
          color: rgba(171, 171, 171, 0.7);
          font-size: 18px; font-weight: 500;
          cursor: pointer;
          &:hover {
            font-weight: 500;
            color: #444444;
          }
        }
      }
      .previous {
        margin-right: 30px;
        li {
          margin-right: 30px;
        }
      }
      .next {
        margin-left: 30px;
        li {
          margin-left: 30px;
        }
      }
      .page {
        display: flex;
        li {
          color: rgba(171, 171, 171, 0.7);
          font-size: 18px; font-weight: 400;
          cursor: pointer;
          margin-right: 45px;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            font-weight: 400;
            color: #444444;
          }
        }
        .selected {
          cursor: unset;
          color: rgba(0, 180, 255, 1);
          font-weight: 600;
          &:hover {
            font-weight: 600;
            color: rgba(0, 180, 255, 1);
          }
        }
      }
    }
  }
}
#s-main-question {
  .scr-group {
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none; 
    }
  }
  .title, .table-row {
    grid-template-columns: 96px minmax(0, 1fr) 140px;
    .partner {
      word-break: break-all;
    }
  }
}
#s-main-shimple {
  .scr-group {
    min-height: 240px;
    max-height: 240px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none; 
    }
  }
  .title, .table-row {
    grid-template-columns: 190px minmax(0, 1fr) 140px;
  }
  .title {
    .scr-group::-webkit-scrollbar { 
      display: none; 
    }
  }
}
#s-main-partner {
  .scr-group {
    min-height: 610px;
    max-height: 610px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none; 
    }
  }
  .title, .table-row {
    grid-template-columns: 150px minmax(0, 1fr) 140px;
    .partner {
      word-break: break-all;
    }
    .check-group {
      flex-direction: column;
      .check {
        display: flex; align-items: center;
        gap: 5px;
      }
    }
  }
  .title {
    .scr-group::-webkit-scrollbar { 
      display: none; 
    }
  }
}

#c-main-notice {
  .scr-group {
    min-height: 195px;
    max-height: 195px;
    overflow-y: auto;
  }
  .title, .table-row {
    grid-template-columns: 570px 1fr;
    .link {
      padding: 9px 24px;
    }
  }
}
#c-main-enter, #c-main-exit {
  .scr-group {
    min-height: 240px;
    max-height: 240px;
    overflow-y: auto;
  }
  .title, .table-row {
    grid-template-columns: 60px 135px minmax(0, 1fr);
    .link {
      .under {
        text-decoration: underline;
      }
      &:hover {
        color: #000000;
        box-shadow: 0 0 0 2px rgba(0, 180, 255, 1) inset;
      }
      
    }
  }
}
#types {
  margin-top: 24px;
  .title, .table-row {
    grid-template-columns: minmax(0, 1fr) 115px 115px 115px 75px 115px;
  }
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3%;
}
.col1-1-1 {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 3%;

  .content-group:nth-child(1) {
    grid-column: 1 / 2;
  }
  .content-group:nth-child(2) {
    grid-column: 2 / 3;
  }
  .content-group:nth-child(3) {
    grid-column: 3 / 4;
  }
}
.col1-2 {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 3%;

  .content-group:nth-child(1) {
    grid-column: 1 / 2;
  }
  .content-group:nth-child(2) {
    grid-column: 2 / 4;
  }
}
.col2-1 {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 3%;

  .content-group:nth-child(1) {
    grid-column: 1 / 3;
  }
  .content-group:nth-child(2) {
    grid-column: 3 / 4;
  }
}
.col3-2 {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 30px minmax(0, 1fr);
  column-gap: 3%;
  .deco {
    padding-top: 18px;
    display: flex; justify-content: center;
    font-size: 21px;
  }
}

.grid2-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10%;
}
.grid2-2 {
  display: grid;
  grid-template-columns: 7fr 1fr;
  column-gap: 3%;
}
.pw-group {
  display: grid; grid-template-columns: 1fr 90px;
  gap: 3%;
}